.navbar {
    border-radius: 50px;
}
.navbar-nav .nav-link:hover {
    background-color: lightgrey;
}
body {
    background-image: url('https://i.ibb.co/nQYv36L/abstract-smooth-blur-background-backdrop-for-your-design-wallpaper-template-with-color-transition-gr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
#myModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
}

#myModal.success {
    background-color: #4CAF50;
    color: white;
}

#myModal.error {
    background-color: #f44336;
    color: white;
}