{% extends 'base.html' %}

{% block content %}
<style>
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}


#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

.navbar {
    border-radius: 50px;
}
.navbar-nav .nav-link:hover {
    background-color: lightgrey;
}

body {
  background-image: url('https://i.ibb.co/nQYv36L/abstract-smooth-blur-background-backdrop-for-your-design-wallpaper-template-with-color-transition-gr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bolder;">GourmetLabs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main:show_awal' %}">Home</a>
              </li>
          </div>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-right">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">About Us</a>
                </li>
            </ul>
          </div>
        
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content text-white" style="background-color:grey; border-radius: 10px;">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start px-4 pt-0 pb-4">
                  <div class="text-center">
                    <h3 class="mb-3">About GourmetLabs</h3>
                    <h5 class="mb-5" style="font-weight:lighter">GourmetLabs is an application that provides information, recipes, and engaging reading experiences about culinary cultures from various countries, allowing users to enjoy exclusive culinary-related content.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        

          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mx-right">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:login' %}">Login</a>
              </li>
          </div>
        </div>
      </nav>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Welcome to GourmetLabs</h1>
        <h2>Providing an engaging and enjoyable reading experience with the hope of increasing the interest in reading among the public</h2>
        <a href="{% url 'main:register' %}" class="btn-get-started">Register Now</a>
      </div>
    </section><!-- End Hero Section -->
    
{% endblock content %}