{% extends 'base.html' %}

{% block content %}
<style>
    .navbar {
        border-radius: 50px;
    }
    .navbar-nav .nav-link:hover {
        background-color: lightgrey;
    }
</style>

<div class="container">
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bolder;">GourmetLabs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}">Home</a>
              </li>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-right">
                <li class="nav-item">
                  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">Add role</a>
                </li>
            </ul>
          </div>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'YourBook:show_main' %}">Pinjam Buku</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="{% url 'review:show_main' %}">Review</a></li>
                  <li><a class="dropdown-item" href="{% url 'wishlist:show_main' %}">Wishlist</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content text-white" style="background-color:tan; border-radius: 10px;">
              <div class="modal-header border-bottom-0">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-start px-4 pt-0 pb-4">
                <div class="modal-body">
                  <form id="form" onsubmit="return false;">
                      {% csrf_token %}
                      <label>
                        <input type="radio" name="role" value="user" checked>
                        User
                      </label>
                      <label>
                        <input type="radio" name="role" value="admin">
                        Admin
                      </label>
                  </form>
                  <p>User tidak dapat memilih ulang role jika sebelumnya sudah memilih!   </p>
              </div>
              <div class="modal-footer">
                  <button type="submit" id="button_add">Select Role</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <table id="product_table"></table>
<script>
  function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        })

        document.getElementById("form").reset()
        return false
    }
    
    document.getElementById("button_add").onclick = addProduct

    async function getProducts() {
        return fetch("{% url 'main:get_buku' %}").then((res) => res.json())
    }
    refreshProducts()
    async function refreshProducts() {
    document.getElementById("product_table").innerHTML = "";
    const products = await getProducts();
    let htmlString = '<div class="d-flex flex-row flex-wrap">';  // Flex container

    products.forEach((item, index) => {
        const cardClass = index === products.length - 1 ? '' : '';  // Add bg-warning class for the last card
        htmlString += `
            <div class="card m-3 ${cardClass}" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Judul: ${item.fields.Title}</h5>
                    <p class="card-text">Author: ${item.fields.Authors}</p>
                    <p class="card-text">Language: ${item.fields.Language}</p>
                </div>
            </div>`;
    });

    htmlString += '</div>';  // Close flex container
    document.getElementById("product_table").innerHTML = htmlString;

}

</script>
{% endblock content %}